
body{
    margin: 0;
    padding: 0;
    background-image: url('../img/bank.jpg');   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    color: darkorange;
    
    
}