 :root{     
    --primer-tipo-de-letra: 'Roboto', sans-serif;
    --primer-color: #100F0F;
    
} 
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,500;1,600&display=swap');

    
     body{
        margin: 0;
        padding: 0;
        background: url("../IMG/found.jpg");   
        background-size: cover;
        background-position: center;
        font-family: sans-serif;
    }


*{
    margin: 0.5%;
    padding: 0.5%;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-size: 110%;
    
}

html{
    font-size: 70.5%;
    
}


/* zona header */
.logo-figure-img{
    width: 20vw;
   
}

.header-nav
{
    list-style: node;
    background-color: #EABE3F;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 3px;
    border-color: black;
    border-style: double;

}

.nav-contenedor_item
{
    display: inline-block;
    margin: 0rem 0rem;
  padding: 0.5rem 1rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 7rem;
  border-bottom-right-radius: 1rem;
  border: 0;
  text-decoration: none;  
  
}
.nav-contenedor_item a{
    text-decoration: none;
    border-radius: 20px;
    color: #EABE3F;
    background-color: rgb(0, 65, 65);
    padding: 6px;   
    border-radius: 20px;
    border-style: double;
    display: inline-block;
    
    
    
    
}

.nav-contenedor_item a:hover {
    color: rgb(255, 81, 0);
}

.nav-contenedor_item a:active {
    color: rgb(128, 26, 26);
}



/* zona main */
.main-form_contenedor{
    background-color: #EABE3F;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.articulo-header_imagen-img{
    width: 45vw;
    background-color: #EABE3F;
}



/* Main form */

.main-form_contenedor{
text-decoration: none;
    border-radius: 20px;
    color: rgb(0, 65, 65);
    background-color: #EABE3F;
    padding: 6px;   
    border-radius: 20px;
    border-style: double;
}
.main-form_item-titulo {
    
    background-color: rgb(0, 65, 65);
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 8px;
    border-color:#EABE3F;
    border-style: double;
    color: #EABE3F;

}

/* Main nav */


.nav-item a{
    list-style: none;
    background-color: #001947;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 3px;
    border-style:hidden;
    text-decoration: none;
    color:#EABE3F;

}

.nav-item {
    list-style: none;
}

.main-nav {
    
    border-style:ridge;
    text-decoration: none;
    color:#001947;
}
