/* lugar para crear variables
(cosas que se repiten y pueden ser cambiadas mas rápido)
:root{
    --ejemplo-para-font-size: 10px;
    --ejemplo-para-color: #000000;
    --ejemplo-para-background-color: #b2b4a2;
} 
*/
.main{
    display: flex;
    flex-wrap: wrap;
}

.main-header_titulo{
    padding-left: 1rem;
    text-align: start;
}

.main-artículos {
    display: block;
    width: 50vw;
}

.main-article_articulo {
    height: auto;
    width: 50vw;
}

.main-formulario {
    margin: auto;
    width: 45vw;
    height: auto;
}