/* lugar para crear variables
(cosas que se repiten y pueden ser cambiadas mas rápido)
:root{
    --ejemplo-para-font-size: 10px;
    --ejemplo-para-color: #000000;
    --ejemplo-para-background-color: #b2b4a2;
} 
*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --primer-color: #0096ff;
  --segundo-color: #4db5ff;
  --tercer-color: #72ffff;
  --cuarto-color: #aeffff34;
  --botón-reacción: #9c9efe;
  --Courgette-font-family: "Courgette", cursive;
  --Open-Sans-font-family: "Open Sans", sans-serif;
}

/* responsive design */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--cuarto-color);
}

a, .botón {
  font-size: 1.2rem;
  font-family: var(--Courgette-font-family);
  text-decoration: none;
  color: white;
}

/* Sección header */
.header-logo {
  background-color: var(--primer-color);
}

.figure-logo {
  width: 95vw;
}

.header-nav {
  padding: 0.5rem 0;
  list-style: none;
  text-align: center;
  background-color: var(--segundo-color);
}

/* botones */
.header-nav_item,
.main-article-contenido_ver-mas, .botón{
  display: inline-block;
  margin: 0.5rem 0rem;
  padding: 0.5rem 1rem;
  background-color: var(--primer-color);
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 0;
}

.header-nav_item:hover,
.main-article-contenido_ver-mas:hover {
  background-color: var(--botón-reacción);
}

/* main */
.main-article_articulo {
  margin: 1rem 0rem;
}

.main-header_titulo {
  font-family: var(--Open-Sans-font-family);
  font-style: italic;
  text-align: center;
  margin: 0.5rem;
}

.main-article_titulo-h3 {
  font-family: var(--Open-Sans-font-family);
  margin: 0rem 0.5rem;
}

.main-article_contenido {
  margin: 0rem 1rem;
  font-family: var(--Open-Sans-font-family);
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
}

.main-article-contenido_figure-img {
  width: 50vw;
  margin: 0.5rem;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}

/* formulario */
.main-formulario{
    margin: 1rem;
    padding: 1.5rem;
    width: 90vw;
    background-color: white;
    border: 0.5rem #0096ff solid;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    font-family: var(--Open-Sans-font-family);
    box-shadow: 0.7rem 1.3rem 3.7rem black;
}

.formulario-titulo{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.form-items, .form-items-label{
    font-family: var(--Open-Sans-font-family);
    font-size: 1.4rem;
}

.form-items{
    width: 100%;
    margin: 1rem 0rem;
    background-color: var(--cuarto-color);
    padding: 0.5rem;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}

/* footer */
.footer {
  padding: 1rem 0rem;
  color: white;
  background-color: var(--primer-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.footer a {
  font-family: var(--Open-Sans-font-family);
}
