* {
    /*responsive design*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Zona Header*/

/* Zona Logo y titulo */

body{
    background-color: #9398fcdc;
}

.header{
    background-color: #5559fc;
}

.header .logo-link,a{
    color: white;
    text-decoration: none;
}

.header img{
    margin-left: 25%;
    margin-top: 10px;
    width: 50%;
}

/* Zona navegación */
nav {
    text-align: center;
    list-style-type: none;
    padding: 15px;
    background-color: #9398fc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

nav li {
    display: inline-flex;
}

nav a {
    font-size: 100%;
    color: black;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* zona main -articulo */

.main-article_contenido figure{
    margin: 10px;
}

.main-article_contenido img{
    float: right;
    width: 50%;
}


.main-article_contenido{
    display: inline-flex;
}

main{
    text-align: justify;
    margin-left: 1%;
    display: inline-flex;
}

/* zona formulario */

label, span{
    font-size: 15px;
    display: block;
}

/* zona footer */

footer{
    text-align: center;
}